---
import Layout from "@layouts/Layout.astro";
import Contact from "@components/ContactUs.astro";
import LastCall from "@components/home/LastCall.astro";
import WorkInProgress from "@components/WorkInProgress.astro";
---

<Layout title="Home">
    <main>
        <WorkInProgress />
        <Contact />
        <LastCall />
    </main>
</Layout>
